<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>
<a href="movies/create">Add a Movie</a>
<a href="movies">All Movies</a>
<a href="celebrities/create">Add a Celebrity</a>
<a href="celebrities">All Celebrities</a>
